#index-page
  .header-pp
    .header-overlay
    .container
      .row
        .col-lg-12
          %h1.lead-text Time to Play
          %h2
            Ping
            %i.fa.fa-calendar-check-o
            Pong
  .container.description
    .row
      .col-lg-8.col-lg-offset-2
        %h1 Reserve your slot now
        %p
          Click below to log in/sign up
        %div
          - if user_signed_in?
            = "Hi, #{current_user.email}"
            = button_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            = button_to "Please Sign In", new_user_session_path
  

  